{{ partial "header" . }}

<div id="intro-row" class="row">
  <div class="row-center">
    <h1>
      The asynchronous run-time for the Rust programming language.
    </h1>
    <p>
    Tokio is an open source library providing an asynchronous, event driven platform for
    building fast, reliable, and lightweight network applications. It leverages Rust's
    ownership and concurrency model to ensure thread safety.
    </p>
    <a href="get-started" id="get-started"> Get Started </a>
  </div>
</div>

{{ partial "footer" . }}
